/vendor/
.phpunit.result.cache

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.vscode

# ignore CSV test files
serialTestFilePhp.csv
serialTestFileKotlin.csv
